<ion-content color="dark" class="ion-padding padrao">

  <div class="ion-text-center" style="font-family: Monotype Corsiva, Times, Serif;">
    <ion-title size="large">Galeria de Momentos</ion-title>
  </div>

  <form [formGroup]="form" (ngSubmit)="login()">

    <div class="input-group">
      <ion-item lines="inset">
        <ion-label position="floating">Login</ion-label>
        <ion-input formControlName="login" type="text"></ion-input>
      </ion-item>

      <ion-item class="ion-no-border">
        <ion-label position="floating">Senha</ion-label>
        <ion-input formControlName="senha" type="password"></ion-input>
      </ion-item>
    </div>

    <ion-button [disabled]="!form.valid" type="submit" share="round" color="primary" expand="block">Login</ion-button>

    
    <ion-button (click)="esqueciSenha()" type="button" expand="block" color="secondary" class="button-group">Esqueci minha senha
    </ion-button>
  </form>
  <div class="row">
    <ion-button (click)="registrar()" type="button" expand="block" color="danger" class="button-group">Registre-se
    </ion-button>
  </div>
</ion-content>