<ion-header>
  <ion-toolbar color="medium">
  <ion-buttons slot="start">
    <ion-button (click)="voltar()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title>Cadastrar Ambiente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="criarAmbiente()">
    <div class="input-group">
      <ion-item>
        <ion-label position="floating">Nome*</ion-label>
        <ion-input formControlName="nome" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descrição*</ion-label>
        <ion-input formControlName="descricao" type="text"></ion-input>
      </ion-item>
    </div>
    <ion-button [disabled]="!form.valid" type="submit" color="medium" expand="full">Novo</ion-button>
  </form>

</ion-content>
