<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="voltar()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="large">Registrar conta</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content color="dark" class="ion-padding">

  <form [formGroup]="form" (ngSubmit)="cadastrar()">
    <div class="input-group">

      <ion-item>
        <ion-label position="floating">Nome*</ion-label>
        <ion-input formControlName="nome" type="text"></ion-input>
        <p class="danger" *ngIf="form.controls.nome.dirty && form.controls.nome.errors" slot="end">Valor inválido</p>
      </ion-item>

      <ion-item>
        <ion-label position="floating">E-mail*</ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
        <p class="danger" *ngIf="form.controls.email.dirty && form.controls.email.errors" slot="end">Valor inválido</p>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Login*</ion-label>
        <ion-input formControlName="login" type="text"></ion-input>
        <p class="danger" *ngIf="form.controls.login.dirty && form.controls.login.errors" slot="end">Valor inválido</p>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha*</ion-label>
        <ion-input formControlName="senha" type="password"></ion-input>
        <p class="danger" *ngIf="form.controls.senha.dirty && form.controls.senha.errors?.required" slot="end">Campo
          obrigatório</p>
      </ion-item>


    </div>

    <p class="danger" *ngIf="form.controls.senha.dirty && form.controls.senha.errors?.invalidPassword" slot="end">Senha
      fraca. (Utilize no mínimo 6 dígitos, 1 letra maiúscula e 1 minúscula)</p>
      
    <ion-button [disabled]="!form.valid" (click)="cadastrar()" color="medium" expand="full">Cadastrar</ion-button>
  </form>


</ion-content>