<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="voltar()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="large">Alterar senha</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content color="dark" class="ion-padding">

  <form [formGroup]="form" (ngSubmit)="alterarSenha()">
    <div class="input-group">

      
      <ion-item>
        <ion-label position="floating">Senha Atual*</ion-label>
        <ion-input formControlName="senhaAtual" type="password"></ion-input>
        <p class="danger" *ngIf="form.controls.senhaAtual.dirty && form.controls.senhaAtual.errors?.required" slot="end">Campo
          obrigatório</p>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nova Senha*</ion-label>
        <ion-input formControlName="novaSenha" type="password"></ion-input>
        <p class="danger" *ngIf="form.controls.novaSenha.dirty && form.controls.novaSenha.errors?.required" slot="end">Campo
          obrigatório</p>
      </ion-item>


    </div>

    <p class="danger" *ngIf="form.controls.novaSenha.dirty && form.controls.novaSenha.errors?.invalidPassword" slot="end">Senha
      fraca. (Utilize no mínimo 6 dígitos, 1 letra maiúscula e 1 minúscula)</p>
      
    <ion-button [disabled]="!form.valid" (click)="alterarSenha()" color="medium" expand="full">Alterar</ion-button>
  </form>


</ion-content>