<ion-menu contentId="content1" side="start">
  <ion-header>
    <ion-toolbar color="medium">
      <ion-title>Moments</ion-title>
      <ion-buttons slot="start">
        <ion-button (click)="voltarAmbiente()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content color="dark">
    <ion-list>
      <ion-item (click)="gerenciarPessoas()">
        <ion-icon name="people"></ion-icon>
        Pessoas
      </ion-item>
      <ion-item *ngIf="ambiente?.criador?.id === usuario?.id" (click)="excluirAmbiente()">
        <ion-icon name="trash"></ion-icon>
        Excluir ambiente
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-buttons>
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="carregarFotos()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
      <ion-button color="secondary" (click)="takePhoto()">
        <ion-icon name="camera" slot="icon-only"></ion-icon>
      </ion-button>

      <ion-button color="secondary" (click)="galleryPhoto()">
        <ion-icon name="image" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content id="content1" class="ion-padding">
  <ion-list *ngFor="let foto of fotos">
    <ion-card>
      <ion-card-title>
        <ion-item>
          <ion-text>
            <h6>Data: {{foto.instante}}</h6>
          </ion-text>
          <ion-icon (click)="removerFoto(foto.id)" name="trash" slot="end" color="danger"></ion-icon>
        </ion-item>
      </ion-card-title>
      <ion-card-content>
        <ion-img [src]="foto.imageUrl"></ion-img>
      </ion-card-content>
      <ion-item>
        <ion-text>
          <h5 style="color: darkslategray;">{{foto.legenda}}</h5>
        </ion-text>
        <ion-text slot="end">
          <h6>Autor: <span style="color:tomato;">{{foto.autor.nome}}</span></h6>
        </ion-text>
      </ion-item>
      <ion-item *ngIf="foto.showComments">
        <ion-card *ngFor="let comment of foto.comentarios">
          <ion-card-header> {{comment.autor}} </ion-card-header>
          <ion-card-content> {{comment.comentario}} </ion-card-content>
        </ion-card>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="novoComentario.comentario" type="text"></ion-input>
        <ion-buttons end>
          <ion-button icon-only tooltip="Adicionar Comentário" navTooltip>
            <ion-icon (click)="adicionarComentarioImagem()" name="send" slot="end"></ion-icon>>
          </ion-button>
          <ion-button icon-only tooltip="Mostrar Comentários" navTooltip>
            <ion-icon (click)="addCommentImage(foto)" name="chatbubbles" slot="end"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>